After the 3 trials (adjusting bin value, adjusting hidden layers, and adding Epochs) the final optimization is going to include adjusting the bin value and adjusting the hidden layers since those two increased the accuracy. 

Results: 
Original = Loss of .5553 and Accuracy of .7265 
Trial #1 Adding More Hidden Layers = Loss of .5517 and Accuracy of .7266 
Trial #2 Adjusting Bin Value= Loss of .5566 and Accuracy of .7272
Trial #3 Increasing Epochs= Loss of .5573 and Accuracy of .7231

Final Optimization Attempt: Loss of .5571 and Accuracy of .7246

The Final Optimization attempt proved to be less accurate than adjusting the Bin Value Alone.

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split as TTS
from sklearn.preprocessing import StandardScaler as SS
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("charity_data.csv")
df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(['EIN', 'NAME'], axis =1)

df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type_cnt = df.value_counts(df['APPLICATION_TYPE'])
app_type_cnt

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_cnt[app_type_cnt<1000].index)

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_type_cnt = df.value_counts(df['CLASSIFICATION'])
class_type_cnt

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C2380        1
C2500        1
C2561        1
C8210        1
Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_type_cnt = class_type_cnt[class_type_cnt > 1]
class_type_cnt

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C1260        3
C0           3
C1267        2
C1246        2
C1256        2
C3200        2
C1234        2
dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_type_cnt[class_type_cnt<1200].index)

# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C2170        1
C2561        1
C4200        1
C4120        1
C2500        1
C6100        1
C1728        1
C8210        1
C1580        1
C2190        1
C2570        1
C2380        1
C3700        1
C1900        1
C4500        1
C1370        1
C1570        1
C2150        1
C2600        1
C1283        1
C1732        1
C1236        1
C1820        1
C1245        1
C1248        1
C5200        1
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummy = pd.get_dummies(df)
df_dummy

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
df_target = df_dummy['IS_SUCCESSFUL'].values

df_feat = df_dummy.drop(['IS_SUCCESSFUL'], axis = 1).values

In [11]:
# Split the preprocessed data into a training and testing dataset

xtrain, xtest, ytrain, ytest = TTS(df_feat, df_target, random_state = 78)

In [12]:
# Create a StandardScaler instances
scaler = SS()

# Fit the StandardScaler
X_scaler = scaler.fit(xtrain)

# Scale the data
xtrain_scaled = X_scaler.transform(xtrain)
xtest_scaled = X_scaler.transform(xtest)

In [13]:
# Create a method that creates a new Sequential model with hyperparameter options
num_features = len(xtrain)
hidden_nodes_1 = 8
hidden_nodes_2 = 5
hidden_nodes_3 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense
       (units=hidden_nodes_1,
        input_shape = (66,),
        input_dim= num_features, 
        activation = "relu"
       ))

# Second hidden layer
nn.add(tf.keras.layers.Dense
      (units = hidden_nodes_2, 
       activation = "relu"
      ))

# Third hidden layer
nn.add(tf.keras.layers.Dense
      (units = hidden_nodes_3, 
       activation = "relu"
      ))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

#Check the structure
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 536

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 5)                 30

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 617
Trainable params: 617
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

In [15]:
print(xtrain_scaled.shape)
print(ytrain.shape)

(25724, 66)
(25724,)

In [16]:
# Train the model
fit_model = nn.fit(xtrain_scaled, ytrain, epochs = 100)

Epoch 1/100
804/804 [==============================] - 1s 876us/step - loss: 0.6092 - accuracy: 0.6951
Epoch 2/100
804/804 [==============================] - 1s 876us/step - loss: 0.5659 - accuracy: 0.7284
Epoch 3/100
804/804 [==============================] - 1s 878us/step - loss: 0.5608 - accuracy: 0.7295
Epoch 4/100
804/804 [==============================] - 1s 876us/step - loss: 0.5580 - accuracy: 0.7304
Epoch 5/100
804/804 [==============================] - 1s 867us/step - loss: 0.5560 - accuracy: 0.7313
Epoch 6/100
804/804 [==============================] - 1s 836us/step - loss: 0.5554 - accuracy: 0.7313
Epoch 7/100
804/804 [==============================] - 1s 846us/step - loss: 0.5548 - accuracy: 0.7321
Epoch 8/100
804/804 [==============================] - 1s 849us/step - loss: 0.5543 - accuracy: 0.7317
Epoch 9/100
804/804 [==============================] - 1s 832us/step - loss: 0.5537 - accuracy: 0.7322
Epoch 10/100
804/804 [==============================] - 1s 850us/step - loss: 0.5534 - accuracy: 0.7323
Epoch 11/100
804/804 [==============================] - 1s 889us/step - loss: 0.5535 - accuracy: 0.7320
Epoch 12/100
804/804 [==============================] - 1s 773us/step - loss: 0.5533 - accuracy: 0.7324
Epoch 13/100
804/804 [==============================] - 1s 779us/step - loss: 0.5527 - accuracy: 0.7320
Epoch 14/100
804/804 [==============================] - 1s 741us/step - loss: 0.5526 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 1s 684us/step - loss: 0.5524 - accuracy: 0.7322
Epoch 16/100
804/804 [==============================] - 1s 694us/step - loss: 0.5521 - accuracy: 0.7324
Epoch 17/100
804/804 [==============================] - 1s 686us/step - loss: 0.5517 - accuracy: 0.7324
Epoch 18/100
804/804 [==============================] - 1s 790us/step - loss: 0.5519 - accuracy: 0.7328
Epoch 19/100
804/804 [==============================] - 1s 746us/step - loss: 0.5514 - accuracy: 0.7335
Epoch 20/100
804/804 [==============================] - 1s 748us/step - loss: 0.5512 - accuracy: 0.7327
Epoch 21/100
804/804 [==============================] - 1s 743us/step - loss: 0.5510 - accuracy: 0.7328
Epoch 22/100
804/804 [==============================] - 1s 728us/step - loss: 0.5508 - accuracy: 0.7327
Epoch 23/100
804/804 [==============================] - 1s 666us/step - loss: 0.5505 - accuracy: 0.7329
Epoch 24/100
804/804 [==============================] - 1s 725us/step - loss: 0.5508 - accuracy: 0.7328
Epoch 25/100
804/804 [==============================] - 1s 738us/step - loss: 0.5505 - accuracy: 0.7335
Epoch 26/100
804/804 [==============================] - 1s 739us/step - loss: 0.5504 - accuracy: 0.7330
Epoch 27/100
804/804 [==============================] - 1s 735us/step - loss: 0.5502 - accuracy: 0.7330
Epoch 28/100
804/804 [==============================] - 1s 730us/step - loss: 0.5502 - accuracy: 0.7331
Epoch 29/100
804/804 [==============================] - 1s 738us/step - loss: 0.5500 - accuracy: 0.7333
Epoch 30/100
804/804 [==============================] - 1s 739us/step - loss: 0.5500 - accuracy: 0.7332
Epoch 31/100
804/804 [==============================] - 1s 737us/step - loss: 0.5496 - accuracy: 0.7336
Epoch 32/100
804/804 [==============================] - 1s 774us/step - loss: 0.5497 - accuracy: 0.7339
Epoch 33/100
804/804 [==============================] - 1s 738us/step - loss: 0.5495 - accuracy: 0.7332
Epoch 34/100
804/804 [==============================] - 1s 904us/step - loss: 0.5495 - accuracy: 0.73300s - loss: 0.5
Epoch 35/100
804/804 [==============================] - 1s 864us/step - loss: 0.5494 - accuracy: 0.7333
Epoch 36/100
804/804 [==============================] - 1s 867us/step - loss: 0.5493 - accuracy: 0.7332
Epoch 37/100
804/804 [==============================] - 1s 863us/step - loss: 0.5491 - accuracy: 0.7333
Epoch 38/100
804/804 [==============================] - 1s 703us/step - loss: 0.5495 - accuracy: 0.7335
Epoch 39/100
804/804 [==============================] - 1s 708us/step - loss: 0.5492 - accuracy: 0.7328
Epoch 40/100
804/804 [==============================] - 1s 745us/step - loss: 0.5490 - accuracy: 0.7334
Epoch 41/100
804/804 [==============================] - 1s 749us/step - loss: 0.5491 - accuracy: 0.7337
Epoch 42/100
804/804 [==============================] - 1s 748us/step - loss: 0.5489 - accuracy: 0.7332
Epoch 43/100
804/804 [==============================] - 1s 910us/step - loss: 0.5489 - accuracy: 0.7339
Epoch 44/100
804/804 [==============================] - 1s 706us/step - loss: 0.5487 - accuracy: 0.7333
Epoch 45/100
804/804 [==============================] - 1s 741us/step - loss: 0.5488 - accuracy: 0.7337
Epoch 46/100
804/804 [==============================] - 1s 743us/step - loss: 0.5484 - accuracy: 0.7337
Epoch 47/100
804/804 [==============================] - 1s 744us/step - loss: 0.5491 - accuracy: 0.7336
Epoch 48/100
804/804 [==============================] - 1s 902us/step - loss: 0.5489 - accuracy: 0.7339
Epoch 49/100
804/804 [==============================] - 1s 661us/step - loss: 0.5486 - accuracy: 0.7335
Epoch 50/100
804/804 [==============================] - 1s 669us/step - loss: 0.5485 - accuracy: 0.7332
Epoch 51/100
804/804 [==============================] - 1s 664us/step - loss: 0.5485 - accuracy: 0.7337
Epoch 52/100
804/804 [==============================] - 1s 667us/step - loss: 0.5488 - accuracy: 0.7340
Epoch 53/100
804/804 [==============================] - 1s 677us/step - loss: 0.5485 - accuracy: 0.7342
Epoch 54/100
804/804 [==============================] - 1s 774us/step - loss: 0.5487 - accuracy: 0.7338
Epoch 55/100
804/804 [==============================] - 1s 714us/step - loss: 0.5484 - accuracy: 0.7341
Epoch 56/100
804/804 [==============================] - 1s 674us/step - loss: 0.5484 - accuracy: 0.7339
Epoch 57/100
804/804 [==============================] - 1s 708us/step - loss: 0.5484 - accuracy: 0.7337
Epoch 58/100
804/804 [==============================] - 1s 719us/step - loss: 0.5480 - accuracy: 0.7336
Epoch 59/100
804/804 [==============================] - 1s 689us/step - loss: 0.5485 - accuracy: 0.7338
Epoch 60/100
804/804 [==============================] - 1s 696us/step - loss: 0.5481 - accuracy: 0.7340
Epoch 61/100
804/804 [==============================] - 1s 721us/step - loss: 0.5479 - accuracy: 0.7342
Epoch 62/100
804/804 [==============================] - 1s 780us/step - loss: 0.5481 - accuracy: 0.7344
Epoch 63/100
804/804 [==============================] - 1s 750us/step - loss: 0.5482 - accuracy: 0.7346
Epoch 64/100
804/804 [==============================] - 1s 746us/step - loss: 0.5480 - accuracy: 0.7341
Epoch 65/100
804/804 [==============================] - 1s 743us/step - loss: 0.5479 - accuracy: 0.7342
Epoch 66/100
804/804 [==============================] - 1s 759us/step - loss: 0.5477 - accuracy: 0.7345
Epoch 67/100
804/804 [==============================] - 1s 742us/step - loss: 0.5477 - accuracy: 0.7345
Epoch 68/100
804/804 [==============================] - 1s 746us/step - loss: 0.5477 - accuracy: 0.7347
Epoch 69/100
804/804 [==============================] - 1s 744us/step - loss: 0.5477 - accuracy: 0.7345
Epoch 70/100
804/804 [==============================] - 1s 749us/step - loss: 0.5477 - accuracy: 0.7342
Epoch 71/100
804/804 [==============================] - 1s 748us/step - loss: 0.5478 - accuracy: 0.7344
Epoch 72/100
804/804 [==============================] - 1s 754us/step - loss: 0.5477 - accuracy: 0.7343
Epoch 73/100
804/804 [==============================] - 1s 751us/step - loss: 0.5474 - accuracy: 0.7350
Epoch 74/100
804/804 [==============================] - 1s 745us/step - loss: 0.5474 - accuracy: 0.7339
Epoch 75/100
804/804 [==============================] - 1s 729us/step - loss: 0.5474 - accuracy: 0.7344
Epoch 76/100
804/804 [==============================] - 1s 739us/step - loss: 0.5477 - accuracy: 0.7346
Epoch 77/100
804/804 [==============================] - 1s 740us/step - loss: 0.5474 - accuracy: 0.7348
Epoch 78/100
804/804 [==============================] - 1s 733us/step - loss: 0.5473 - accuracy: 0.7345
Epoch 79/100

804/804 [==============================] - 1s 746us/step - loss: 0.5472 - accuracy: 0.7341
Epoch 80/100
804/804 [==============================] - 1s 738us/step - loss: 0.5472 - accuracy: 0.7348
Epoch 81/100
804/804 [==============================] - 1s 741us/step - loss: 0.5472 - accuracy: 0.7348
Epoch 82/100
804/804 [==============================] - 1s 789us/step - loss: 0.5470 - accuracy: 0.7345
Epoch 83/100
804/804 [==============================] - 1s 786us/step - loss: 0.5470 - accuracy: 0.7351
Epoch 84/100
804/804 [==============================] - 1s 783us/step - loss: 0.5471 - accuracy: 0.7343
Epoch 85/100
804/804 [==============================] - 1s 669us/step - loss: 0.5471 - accuracy: 0.7348
Epoch 86/100
804/804 [==============================] - 1s 739us/step - loss: 0.5468 - accuracy: 0.7345
Epoch 87/100
804/804 [==============================] - 1s 769us/step - loss: 0.5472 - accuracy: 0.7350
Epoch 88/100
804/804 [==============================] - 1s 753us/step - loss: 0.5472 - accuracy: 0.7346
Epoch 89/100
804/804 [==============================] - 1s 799us/step - loss: 0.5469 - accuracy: 0.7350
Epoch 90/100
804/804 [==============================] - 1s 813us/step - loss: 0.5472 - accuracy: 0.7351
Epoch 91/100
804/804 [==============================] - 1s 807us/step - loss: 0.5470 - accuracy: 0.7349
Epoch 92/100
804/804 [==============================] - 1s 762us/step - loss: 0.5468 - accuracy: 0.7345
Epoch 93/100
804/804 [==============================] - 1s 667us/step - loss: 0.5470 - accuracy: 0.7349
Epoch 94/100
804/804 [==============================] - 1s 693us/step - loss: 0.5467 - accuracy: 0.7345
Epoch 95/100
804/804 [==============================] - 1s 684us/step - loss: 0.5469 - accuracy: 0.7351
Epoch 96/100
804/804 [==============================] - 1s 696us/step - loss: 0.5471 - accuracy: 0.7348
Epoch 97/100
804/804 [==============================] - 1s 661us/step - loss: 0.5469 - accuracy: 0.7350
Epoch 98/100
804/804 [==============================] - 1s 729us/step - loss: 0.5470 - accuracy: 0.7346
Epoch 99/100
804/804 [==============================] - 1s 804us/step - loss: 0.5468 - accuracy: 0.7349
Epoch 100/100
804/804 [==============================] - 1s 762us/step - loss: 0.5469 - accuracy: 0.7341

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(xtest_scaled,ytest,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5571 - accuracy: 0.7247 - 229ms/epoch - 855us/step
Loss: 0.5571030378341675, Accuracy: 0.7246647477149963

In [18]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")